html, body {
    font-family: muli;
    height: 100%;
    color: #ffffff;
    margin: 0 auto;
    color: #333333;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.image-container img {
    border-radius: 50%;
    width: 350px;
}

.desc-container {
    width: 70%;
}
